<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
<!--     <p>
      I'm currently an Engineer at
      <a class="underline-link" href="https://www.upstatement.com/" target="_blank">Upstatement</a> building things for the web with some awesome people. I recently graduated from
      <a class="underline-link" href="http://www.ccis.northeastern.edu/" target="_blank">Northeastern University</a> after completing three awesome six-month co-ops at
      <a class="underline-link" href="https://us.mullenlowe.com/" target="_blank">MullenLowe U.S.</a>,
      <a class="underline-link" href="https://starry.com/" target="_blank">Starry</a>, and
      <a class="underline-link" href="https://www.apple.com/music/" target="_blank">Apple Music</a>.
    </p> -->

    <p>
     I am a computer vision and Machine learning Enthusiast currently working as a ML engineer at Dhan AI, where I work on building conversational AI Agents. My intrests lie in the fields of self-supervised learning and Generative Modelling,largely motivated by Yann Lecun’s Cake analogy. I enjoy working on challenging problems in CV/ML.
    </p>

    <p>
      In my free time I like to read and I am what you would refer to as a news junkie. I can talk to you about anime for as long as you want and playing Dota 2 makes me salty.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
