<header class="intro">
  <h1 class="intro__hello">Hello!
    <span class="emoji wave-hand animated"></span>
  </h1>

  <h2 class="intro__tagline">I'm
    <span class="name">Vaishnav Potlapalli</span>, a ML engineer and Computer vision enthusiast.
    <!-- <span class="emoji technologist"></span> -->
    <img src="../img/temp.jpeg" style = "border-radius:50%;position: absolute;top: 350px;right:200px;border: 3px solid #99ccff;">
  </h2>

  <h3 class="intro__contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:pvaishnav2718@gmail.com" target="_blank" class="highlight-link">pvaishnav2718@gmail.com</a>
    </span>
  </h3>
    <h3 class="intro__contact">
    <span>Read My blog here </span>
    <span class="read pointer"></span>
    <span>
      <a href="https://va1shn9v.github.io/fastBlog/" target="_blank" class="highlight-link">Blog</a>
    </span>
  </h3>

</header>
